/* header.css */
.root{
    background-color: #8c222c;
    padding: 10px;
    color: #fff;
    font-size: 15px;
}
.entry{
    float: right;
    margin-right: 30px;
    letter-spacing: 1.5px;
}
.title{
    margin: 50px;
}
.login{
    margin-right: 15px;
}